<% include partials/header.ejs %>

    <main class="container">
        <h1>Home Page</h1>
        <p>Create Survey Site Using MEAN(MongoDB,Express,Angular,Node JS)</p>
    </main>
<% include partials/footer.ejs %>
    
