<!-- Include Header File -->
<% include partials/header.ejs %>

    <main class="container"><!-- Start Main tag -->
        <h1>Home Page</h1>
        <p>Create Survey Site Using MEAN(MongoDB,Express,Angular,Node JS)</p>
    </main><!-- End Main tag -->
 <!-- Include Footer File -->
<% include partials/footer.ejs %>
    
